body{
    text-align: center;
}
button{
    background-color: rgb(220, 93, 93);
    padding: 15px 60px;
    color: white;
    margin: 20px 50px;
    border: 0px;
    font-size: 18px;
    border-radius: 10px;
    border: 1 px solid black;
    transition: o.5s;
    cursor: pointer;
    
}
button:hover{
    background-color: rgb(37, 157, 37);
}